<strong>Olá {{deliverman}} </strong>
<p>Houve um cancelamento em uma das suas entregas, confira os detalhes abaixo:</p>
<p>
    <p>A encomenda destinada a</p>
    <strong>Nome:</strong> {{recipient}} <br/>
    <strong>Endereço:</strong> 
        {{street}}, Nº {{number}}, {{city}} - {{state}} 
    <br/>
    <strong>Produto:</strong> {{product}} <br/>
    <p>Foi cancelada devido ao seguinte problema: </p>
    <strong>{{problem}}</strong> 
    <br/>
    <p>
        Favor não realizar a entrega
    </p>
</p>