<strong>Olá {{deliverman}} </strong>
<p>Há uma nova encomenda para você entregar, confira os detalhes abaixo:</p>
<p>
    <strong>Destinatário:</strong> {{recipient}} <br/>
    <strong>Endereço:</strong> 
        {{street}}, Nº {{number}}, {{city}} - {{state}} 
    <br/>
    <strong>Complemento:</strong> {{complement}} <br/>
    <strong>CEP:</strong> {{zipcode}} <br/>
    <br/>
    <strong>Nome do Produto:</strong> {{product}} 
    <br/>
    <br/>
    <p>
        O produto já está disponível para retirada
    </p>
</p>